
    <h1>Electronic Health Record</h1>
        <p>For educational and training purposes only. <br /> Only simulated patient information is available from this application. 
        <br /> Do not enter actual patient information. </p>
        

