<p id="notice"><%= notice %></p>
   <span class="secondary_header_text"> <h1>Electronic Health Record</h1> </span>
        <p>For educational and training purposes only. <br /> Only simulated patient information is available from this application. 
        <br /> Do not enter actual patient information. </p>
        

