<div class="searchBox">
        <div class="searchHeader">
          
        <h1>Patient Search</h1>
       </div>
        <div class="searchBox" >
                Patient Number  <input name="PatientNumber" type="text" id="PatientNumber"/><br />
      
                Last Name <input name="LastName" type="text" id="LastName"  />
            
        </div>
        <div class="searchFooter">
            <input type="image" name="search" id="search" class="searchButton" src="/assets/main/find_button.jpg" />
        </div>
 </div>