<h1>Upload an image</h1>

<% if params.has_key?(:patient_id) %>
	<% @patient = Patient.find(params[:patient_id]) %>
	<%= render :partial => 'form', :obect => @patient %>
<% else %>
	<%= render 'form'%>
<% end %>

<%= link_to 'cancel', :back, class: "btn" %>
</div>
