<h1>New image_file</h1>

<% if params.has_key?(:patient_id) %>
	<% @patient = Patient.find(params[:patient_id]) %>
	<%= render :partial => 'form', :obect => @patient %>
<% else %>
	<%= render 'form'%>
<% end %>

<%= link_to 'Back', image_files_path %>
