			<div class="row-fluid dataRow">
            	<div class="span4 ">
              		<strong><%= visit.chiefComplaint %></strong>
              	</div>
              	<div class="span4">
              		<strong><%= visit.dischargeDiagnosis %></strong>
          		</div>
          		<div class="span4">
               		<%= link_to 'select', patient_path(:selectedVisit => visit) %>
           		</div>
            </div>