<div class="icon">
  <%= link_to image_tag("Document.png", :border=>0), lab_and_diagnostic_report %><br />
  <%= lab_and_diagnostic_report.description %> <br />
  <%= lab_and_diagnostic_report.time_released %>
</div>