<% content_for :title, "Editing lab report template"%>
<h1>Editing lab report template</h1>

<%= render 'form' %>

<%= link_to 'Back', lab_report_templates_path, class: "clear-both btn" %>
</div></div>
