<div class="span6">
<div class="patient-info-header" >
  	<h3> Patient Demographics </h3>
</div>
<div class="patientInfo" id="PtDemographics" style="position:relative;"> 

    <%= render @patient %>
    <% unless session[:simulation_mode] %>
    <div class="btn bottomButton">
      <%= link_to 'Edit', edit_patient_path(@patient) %>  
    </div>
    <% end %>
  </div>
</div>