
  <div class="patientInfo span6" id="PtDemographics" style="position:relative;"> <h3> Patient Demographics </h3>
    <%= render @patient %>
    <% unless session[:simulation_mode] %>
    <div class="btn bottomButton">
      <%= link_to 'Edit', edit_patient_path(@patient) %>  
    </div>
    <% end %>
  </div>