
  <div class="patientInfo span5" id="PtDemographics" style="position:relative;"> <h3> Patient Demographics </h3>
    <%= render @patient %>
    <div class="btn bottomButton">
      <%= link_to 'Edit', edit_patient_path(@patient) %>  
    </div>
  </div>