/*
 *= require_self
 *= require_tree
 */

#logo {
 	Color: white;
 	font-size: xx-large;
 	margin-top: 5px;
 }

 .dataField {
 	margin-top: 5px;
 	margin-bottom: 5px;
 	border-radius: 5px;
 	background-color: #EEE;

 }

 .dataRow {

 	border-top:solid;
 	border-width:thin;
 	border-color:white;
}

.bottomButton {
	margin-right:10px;
	position:absolute;
	bottom:5px;
	right:5px;
}

