/*
 *= require_self
 *= require_tree
 */

#logo {
 	Color: white;
 	font-size: xx-large;
 	margin-top: 5px;
 }

 #mode_status {
 	Color: gray;
 	width:500px;
 	margin-top:20px;
 }

 .dataField {
 	margin-top: 5px;
 	margin-bottom: 5px;
 	border-radius: 5px;
 	background-color: #EEE;

 }

 .dataRow, .dataRowDark{

 	border-bottom:solid;
 	border-width:thin;
 	border-color:gray;
}
 .dataRowDark {

 	border-color:black;
}

.selected {
	background-color: #DDD;
}

.bottomButton {
	margin-right:10px;
	position:absolute;
	bottom:5px;
	right:5px;
}

.bottom {
	margin-right:10px;
	position:absolute;
	bottom:5px;

}

.alternateGray1 {
	background:#DDD;
}

.alternateGray2 {
	background-color: #EEE;
}

.icon {
	float:left;
	width:100px;
	height:125px;
}