@import 'bootstrap';
@charset "UTF-8";



#logo {
 	font-size: xx-large;
 	margin-top: 5px;
 }

.container {
	width: 1000px;
	padding: 0px;
	.elementLayoutMargin {
		margin-top:20px;
	}

	#mar {
		margin-bottom:20px;
	}


	h1 {
		font-size:18px;
	}

	h2 {
		font-size:14px;
	}

	h3 {
		font-size:12px;
	}

	.note {
		border-width:thin;
		border-style:solid;
		border-color:gray;
		min-width:700px;
		widht:80%;
		min-height:400px;
	}

	label {
		margin-top:15px;
		mrgin-bottom:5px;
		font-size:14px;	
		font-weight:bold;
		color:#555;
	}
}

#main_page_logo {
	text-align: center;
	
	#main_page_text {
		width: 500px;
		text-align: left;
		margin: 0 auto;
	}
}

 .field, .actions{ 
 float: left;
 margin: 10px;
 }

 .popover {

	background-image:url('/assets/Gradient.jpg');
	background-repeat:repeat-x;
	position: absolute;
	display: none;
	border-radius: 10px;
	border-width:thin;
	border-style:solid;
	border-color:gray;
	z-index: 2;
	min-height: 750px;
	width: 900px;
	overflow:auto;
	background-color: #dfdfdf;
	padding-top:1px;
	


	h1 {
		font-size:18px;
	}

	h2 {
		font-size:14px;
	}

	h3 {
		font-size:12px;
	}

}

.action-log-entry{
	border-style:solid;
	border-color:#999;
	border-width:thin;
	border-radius: 10px;
	padding:10px;
	padding-top:0px;
	margin: 10px;
	h2 {
		margin-left: -5px;
		margin-top:-5px;
		}
	h3 {
		margin-bottom:-5px;
		margin-top:-5px;
	}
	p {
		margin-top:-5px;
	}
}

#search-window {
	width: 500px;
	height: 300px;
	border-style:solid;
	border-color:gray;
	border-width:thin;
	overflow: auto;
	padding:5px;
	li {
		list-style:none;
	}
}




.patient-info-header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-align:center;
	border-style:solid;
 	border-width:thin;
 	border-color:gray;

}


.patientInfo {
	position:relative;
	text-align:center;
	border-bottom:solid;
	border-right:solid;
	border-left:solid;
	border-color:#999;
	border-width:thin;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 220px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	overflow:hidden;





	.icon {
		float:left;
		width:150px;
		height:125px;
		.btn-group {
			margin-left:15px;
		}
	}

	h3 {
		font-size: small;
		top:1px;
	}

	.patientImage {
		float:left;
		width:100px;
		height:100px;
		overflow:none;
		background-color:#CCC;
	}
	
	.elementLayoutMargin {
		margin-top:20px;
	}

	.message{
		width:250px;
		margin:25px auto;
		
		div, span {
			float:left
		}

		div {
			width:200px;
			text-align:left;
			padding-left:5px;
		}
	}
	.bottom {
		bottom:2px;
	}
}


#recent_activties {
	height: 100px;
}	

.recent_activity {
	float:left;
	width: 100px;
	border-style: solid;
	border-color: gray;
	border-width: thin;
}

div.patientInfo table {
	text-align:center;
}

#visits, #intakeDocs, #lab_and_diagnostic_reports, #visits_header, #intake_documentation_header, #lab_and_diagnostic_reports_header { 
margin-left: 10px; 
}

#lab_and_diagnostic_report_release_delay {
	width:75px;
}



 #mode_status {
 	text-align:center;
 	Color:red;
 	width:500px;
 	margin-bottom:10px;
 	z-index: 2;
 	display: block;
 	position: absolute;
 	top:-0px;
 	right:0px;
 	border-color:black;
 	border-style:solid;
 	background-color: #DDD;
 }

#patient-info {
	margin-top:10px;
	padding-right:10px;
    border-style:solid;
    border-width:thin;	
    border-color:gray;
	min-width:520px;
	display:inline-block;
}

#instruction {
	border-color:gray;
	border-width:thin;
	border-style:solid;
	font-size:medium;
	margin:10px;
	padding:10px;
	width:500px;
	background-color: #DDD;
}

 .dataField {
 	margin-top: 5px;
 	margin-bottom: 5px;
 	border-radius: 5px;
 	background-color: #EEE;

 }

 .dataRow, .dataRowDark{
 	background-color:white;
 	border-bottom:solid;
 	border-width:thin;
 	border-color:gray;
}
 .dataRowDark {

 	border-color:black;
}

.selected {
	background-color: #DDD;
}

.bottomButton {
	margin-right:10px;
	position:absolute;
	bottom:5px;
	right:5px;
}

.bottom {
	position:absolute;
	bottom:5px;

}

.alternateGray1 {
	background:#DDD;
}

.alternateGray2 {
	background-color: #EEE;
}


.float-left {
	float:left;
}

.clear-both {
	clear:both;
}

.uneditable-data {
	border-color:gray;
	border-width:thin;
	border-style:solid;
	margin-bottom:20px;
	min-width:100px;
	width:50%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  text-align: center;
  margin: 10px 230px 15px 200px;
  color: green; 
  font-size: large;
  }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.textarea{ width:800px;
height: 300px;}

select { width:100px; }


