@import 'bootstrap';


.container {
	width: 1000px;
	padding: 0px;
	.elementLayoutMargin {
		margin-top:20px;
	}

	#mar {
		margin-bottom:20px;
	}
	h1, h2, h3, h4, h5 {
		color:gray;
	}

	h1 {
		font-size:18px;
	}

	h2 {
		font-size:14px;
	}

	h3 {
		font-size:12px;
	}

	.note {
		border-width:thin;
		border-style:solid;
		border-color:gray;
		min-width:700px;
		widht:80%;
		min-height:400px;
	}

	label {
		margin-top:15px;
		mrgin-bottom:5px;
		font-size:14px;	
		font-weight:bold;
		color:#555;
	}
}

 .field, .actions{ 
 float: left;
 margin: 10px;
 }

 .popover {

	background-image:url('/assets/Gradient.jpg');
	background-repeat:repeat-x;
	position: absolute;
	display: none;
	border-radius: 10px;
	border-width:thin;
	border-style:solid;
	border-color:gray;
	z-index: 2;
	min-height: 750px;
	width: 900px;
	overflow:auto;
	background-color: #dfdfdf;
	padding-top:1px;
	
	h3 {
		font-size: small;
	}


}

.action-log-entry{
	border-style:solid;
	border-color:#999;
	border-width:thin;
	border-radius: 10px;
	padding:10px;
	padding-top:0px;
	margin: 10px;
	h2 {
		margin-left: -5px;
		margin-top:-5px;
		}
	h3 {
		margin-bottom:-5px;
		margin-top:-5px;
	}
	p {
		margin-top:-5px;
	}
}

#search-window {
	width: 500px;
	height: 300px;
	border-style:solid;
	border-color:gray;
	border-width:thin;
	overflow: auto;
	padding:5px;
	li {
		list-style:none;
	}
}