// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@charset "UTF-8";
/* CSS Document */

.patientInfo {
float: left;
	position:relative;
	text-align:center;
	width: 450px;
	background-color:#E7E4DD;
	border-radius: 10px;
	Margin: 5px 5px 5px 5px;
	height: 180px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5px;
	padding-right: 5px;
	overflow:none;
}

div.patientInfo table {
	text-align:center;
}

#intakeDocs, #notes{
	background-color: #CCCCCC;
}

#visits {
	
	background-color: #E7E4DD;
}


#vitals, #mar {
	width: 920px;
	background-color: #DDDDDD;	
}
