// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@charset "UTF-8";
/* CSS Document */

.patientInfo {
	/*background-color:#E7E4DD;*/
	background-image:url(image-path('Gradient.jpg'));
	background-repeat:repeat-x;
	position:relative;
	text-align:center;
	border-style:solid;
	border-color:#999;
	border-width:thin;
	border-radius: 10px;
	height: 240px;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	overflow:hidden;
	
	.icon {
		float:left;
		width:150px;
		height:125px;
		.btn-group {
			margin-left:15px;
		}
	}

	h3 {
		font-size: small;
		top:1px;
	}

	.patientImage {
		float:left;
		width:100px;
		height:100px;
		overflow:none;
		background-color:#CCC;
	}
	
	.elementLayoutMargin {
		margin-top:20px;
	}

	.message{
		width:250px;
		margin:25px auto;
		
		div, span {
			float:left
		}

		div {
			width:200px;
			text-align:left;
			padding-left:5px;
		}
	}
	.bottom {
		bottom:2px;
	}
}

div.patientInfo table {
	text-align:center;
}

#visits, #intakeDocs, #lab_and_diagnostic_reports { 
margin-left: 10px; 
}




