<div class="row-fluid dataRow">
	<div class="span1 dataField">flow_sheet_record.temp</div>
	<div class="span1 dataField">flow_sheet_record.bloodPressure</div>
	<div class="span1 dataField">flow_sheet_record.heartrate</div>
	<div class="span1 dataField">flow_sheet_record.respiratoryRate</div>
	<div class="span1 dataField">flow_sheet_record.respiratoryRate</div>
	<div class="span1 dataField">flow_sheet_record.intakePO</div>
	<div class="span1 dataField">flow_sheet_record.intakeIV</div>
	<div class="span1 dataField">flow_sheet_record.intakeOtherDescription</div>
	<div class="span1 dataField">flow_sheet_record.intakeOther</div>
	<div class="span1 dataField">flow_sheet_record.outputUrine</div>
	<div class="span1 dataField">flow_sheet_record.outputFeces</div>
	<div class="span1 dataField">flow_sheet_record.outputBlood</div>
	<div class="span1 dataField">flow_sheet_record.outputOtherDescription</div>
	<div class="span1 dataField">flow_sheet_record.outputOther</div>
</div>
