<div class="row-fluid dataRow">
<div class="span3">
  <%= medical_administration_record.timeRecorded %>
</div>

<div class="span3">
  <%= medical_administration_record.actionDescription %>
</div>

<div class="span3">
  <%= medical_administration_record.actionDetails %>
</div>

<div class="span3">
  <%= medical_administration_record.clinicianSignature %>
</div>
</div>