<div class="row-fluid dataRow">
	<div class="span4"><%= clinician_note.timeRecorded %></div>
	<div class="span3"><%= clinician_note.noteType %></div>
	<div class="span4"><%= clinician_note.clinicianSignature %></div>
	<div class="span1"><%= link_to 'Show', clinician_note %></div>
</div>
