<div class="row-fluid dataRow">
	<div class="span4"><%= clinician_note.time_recorded %></div>
	<div class="span3"><%= clinician_note.note_type %></div>
	<div class="span4"><%= clinician_note.clinician_signature %></div>
	<div class="span1"><%= link_to 'Show', clinician_note %></div>
</div>
